
<div class="row">
  <div class="col-xl-3 col-md-6">
    <app-card [hidHeader]="true" cardClass="ticket-card">
      <p class="m-b-25 badge-light-success lbl-card"><i class="fas fa-users m-r-5"></i> Total Doctors</p>
      <div class="text-center">
        <h2 class="m-b-0 d-inline-block text-c-green">{{totalCount}}</h2>
        <p class="m-b-0 d-inline-block">Active</p>
      </div>
    </app-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <app-card [hidHeader]="false" [options]="false" cardTitle="Top 20 Doctors Ranking" cardClass="ticket-card"
    [isCardFooter]="filterResult.length == 0" >
      <form  [formGroup]="filterDocStatsFb" autocomplete="off" novalidate>
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <div><label>Filter Click By:</label></div>
              <div class="custom-control custom-radio custom-control-inline">
                <input class="custom-control-input" type="radio"  value="sortByCallVisit" id="callClick" formControlName="sortBy">
                <label class="custom-control-label" for="callClick">Call Click</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input class="custom-control-input" type="radio" value="sortByProfileVisit" id="profileClick" formControlName="sortBy">
                <label class="custom-control-label" for="profileClick">Profile Click</label>
              </div>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="form-group">
              <label>Select Time Period</label>
              <select class="custom-select" [(ngModel)]="timeFilter" name="timeFilter"
                (ngModelChange)="timeFilterChanged($event)"  [ngModelOptions]="{standalone: true}">
                <option value="">Select Period</option>
                <option value="today">Today</option>
                <option value="day">Yesterday</option>
                <option value="week">Last Week</option>
                <option value="month">Last Month</option>
                <option value="customRange">Custom Range</option>
              </select>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="row" *ngIf="timeFilter=='customRange'">
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Start Date<span>*</span></label>
                  <div class="input-group">
                    <input class="form-control" formControlName="startDate" ngbDatepicker #d2="ngbDatepicker"
                    [maxDate]=getMaxDate()>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button">
                        <span class="feather-calendar"></span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label>End Date<span>*</span></label>
                  <div class="input-group">
                    <input class="form-control" formControlName="endDate" ngbDatepicker #d3="ngbDatepicker"
                    [minDate]=getMinDate()>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" (click)="d3.toggle()" type="button">
                        <span class="feather-calendar"></span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-2 text-right">
            <button  class="btn btn-primary mt-4" 
            (click)="filterReport(filterDocStatsFb.value)" [disabled]="!filterDocStatsFb.valid" >Filter</button>
          </div>

        </div>
      </form>


      <div class="table-responsive">
        <table class="table table-xs table table-styling table-striped ">
          <thead>
          <tr>
            <th>#(Rank)</th>
            <th>Doctor Name</th>
            <th>Speciality</th>
            <th>No. of Profile Clicks</th>
            <th>No. of Call clicks</th>
            <th>Clinic Contact</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of filterResult; let i = index;"> 
              <td>{{ i+1 }}</td>
              <td>{{getDoc(item).name}}</td>
              <td>{{getDoc(item).specialization}}</td>
              <td>{{item.totalProfileVisit}}</td>
              <td>{{item.totalCall}}</td>
              <td>{{getDoc(item).contactNumber}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="app-card-footer">
        <p class="text-center f-20 mb-0">No Records Found</p>
      </div>

    </app-card>

  </div>
</div>