<div class="row">
  <div class="col-sm-12">
    <app-card [options]="false" [customHeader]=true>
      <div class="app-card-header text-right">
        <button class="btn btn-outline-secondary" (click)="addBtnClick()">Add</button>
      </div>

      <form  [formGroup]="searchDoctorFb" autocomplete="off" novalidate>
        <p>Search Doctor by Name</p>
        <div class="input-group">
          <div class="form-group mb-0 col-9 pl-0">
            <input type="text" class="form-control" placeholder="Search Doctor" formControlName="searchText">
          </div>
          <div class="input-group-append col-3 buttonWrapper">
            <button class="btn btn-primary" (click)="search()" [disabled]="!searchDoctorFb.valid">Search</button>
            <button class="btn btn-dark" (click)="reset()">Reset</button>
          </div>
        </div>
      </form>

    </app-card>
  </div>
</div>




<div class="row" >
  <div class="col-sm-12">
    <app-card [options]="false" [isCardFooter]="searchResultData.length === 0">
      <div class="table-responsive">
        <table class="table table-xs table table-styling table-striped ">
          <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Name of Clinic</th>
            <th>ClinicAddress</th>
            <th>ContactNumber</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of searchResultData; let i = index;"> 
            <td>{{(i+1) + (pageConfig.page-1) * pageConfig.itemsPerPage}}</td>
            <td>{{item.name}}</td>
            <td>{{item.nameOfClinic}}</td>
            <td>{{item.clinicAddress}}</td>
            <td>{{item.contactNumber}}</td>
            <td class="iconWrapper"><span class='feather-edit pointer ft18' (click)="editBtnClick(item)" placement="top" ngbTooltip="Edit"></span>
            <span class='feather-delete pointer ft18' (click)="delBtnClick(item)" placement="top" ngbTooltip="Delete"></span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="horizontal-scroll" *ngIf="searchResultData.length > 0">
        <ngb-pagination 
          [collectionSize]="pageConfig.totalItems" 
          [(page)]="pageConfig.page" 
          [maxSize]="4" 
          [boundaryLinks]="true" 
          [rotate]="true" 
          (pageChange)="pageChange($event)"></ngb-pagination>
      </div>
      <div class="app-card-footer">
        <p class="text-center f-20 mb-0">No Records found.</p>
      </div>
    </app-card>

  </div>
</div>



<app-doc-add-edit [parentSubject]="parentSubject"  (okClickBtn)="clickBtnHandler($event)"></app-doc-add-edit>

<app-animation-modal #msgModal  [modalMsg]="msg" (okClickEmit)="refreshnow($event)"></app-animation-modal>
