
<div class="row">
  <div class="col-xl-3 col-md-6">
    <app-card [hidHeader]="true" cardClass="ticket-card">
      <p class="m-b-25 badge-light-danger lbl-card"> NA</p>
      <div class="text-center">
        <a [routerLink]="['/doc/overview']">
          <img src="assets/images/dashboard/dash_icon1.PNG" class="img-fluid">
        </a>
      </div>
    </app-card>
  </div>
  <div class="col-xl-3 col-md-6">
    <app-card [hidHeader]="true" cardClass="ticket-card">
      <p class="m-b-25 badge-light-primary lbl-card"> NA </p>
      <div class="text-center">
        <img src="assets/images/dashboard/dash_icon2.PNG" class="img-fluid">
      </div>
    </app-card>
  </div>
  <div class="col-xl-3 col-md-6">
    <app-card [hidHeader]="true" cardClass="ticket-card">
      <p class="m-b-25 badge-light-success lbl-card"> NA </p>
      <div class="text-center">
        <img src="assets/images/dashboard/dash_icon3.PNG" class="img-fluid">
      </div>
    </app-card>
  </div>
  <div class="col-xl-3 col-md-6">
    <app-card [hidHeader]="true" cardClass="ticket-card">
      <p class="m-b-25 badge-light-warning lbl-card"> NA </p>
      <div class="text-center">
        <img src="assets/images/dashboard/dash_icon4.PNG" class="img-fluid">
      </div>
    </app-card>
  </div>
</div>
