
<app-ui-modal #myPersistenceModal [containerClick]="false" [dialogClass]="'modal-lg'"> 
    <div class="app-modal-header">
      <h5 class="modal-title">Add|Edit Doctor</h5>
      <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="myPersistenceModal.hide()"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="app-modal-body">
      <form class="" [formGroup]="addEditDocFb" autocomplete="off" novalidate>

        <ngb-tabset [justify]="'justified'" [destroyOnHide]="false">
            <ngb-tab title="Basic Details">
              <ng-template ngbTabContent>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                        <label for="inputName">Name <span>*</span></label>
                        <input type="text" class="form-control" id="inputName" placeholder="Name" formControlName="name" [ngClass]="{'is-invalid': displayMessage.name }">
                        <span class="invalid-feedback">
                          {{displayMessage.name}}
                        </span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                        <div><label>Gender <span>*</span></label></div>
                        <div class="custom-control custom-radio custom-control-inline" [ngClass]="{'is-invalid': displayMessage.gender }">
                            <input type="radio" id="male" name="gender" class="custom-control-input" value="M" formControlName="gender">
                            <label class="custom-control-label" for="male">Male</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline" [ngClass]="{'is-invalid': displayMessage.gender }">
                            <input type="radio" id="female" name="gender" class="custom-control-input" value="F" formControlName="gender">
                            <label class="custom-control-label" for="female">Female</label>
                        </div>
                        <span class="invalid-feedback">
                          {{displayMessage.gender}}
                        </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>Contact Number <span>*</span></label>
                        <input type="text" class="form-control" placeholder="Contact Number" formControlName="contactNumber" [ngClass]="{'is-invalid': displayMessage.contactNumber }">
                        <span class="invalid-feedback">
                          {{displayMessage.contactNumber}}
                        </span>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>EmailId</label>
                        <input type="email" class="form-control" placeholder="Email Id">
                      </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                        <label>NameOfClinic <span>*</span></label>
                        <input type="text" class="form-control"  formControlName="nameOfClinic" [ngClass]="{'is-invalid': displayMessage.nameOfClinic }">
                        <span class="invalid-feedback">
                          {{displayMessage.nameOfClinic}}
                        </span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                          <label>Medical Registration Details</label>
                          <input type="text" class="form-control" placeholder="Reg." formControlName="medicalRegistration">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label for="exampleFormControlTextarea1">Clinic Address <span>*</span></label>
                        <textarea class="form-control" rows="1" formControlName="clinicAddress" [ngClass]="{'is-invalid': displayMessage.clinicAddress }"></textarea>
                        <span class="invalid-feedback">
                          {{displayMessage.clinicAddress}}
                        </span>
                      </div>
                    </div>
                </div>
              </ng-template>
            </ngb-tab>


            <ngb-tab title="Other Info">
                <ng-template ngbTabContent>
                    <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label>Specialization</label>
                            <input type="text" class="form-control" placeholder="Specialization" formControlName="specialization">
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>Experience (in Years)</label>
                                <input type="number" class="form-control" placeholder="Total experience in year" formControlName="totalExperience">
                              </div>
                            </div>
                            <div class="col">
                              <div class="form-group">
                                <label>Medical Career start year</label>
                                <div class="input-group">
                                  <input class="form-control" type="text" formControlName="medicalCarrierStart">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                              <label>Establishment</label>
                              <input type="text" class="form-control" placeholder="Establishment" formControlName="establishment">
                            </div>
                        </div>
                       <div class="col-sm-6">
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Consultation Fees</label>
                              <input type="number" class="form-control" placeholder="Fees" formControlName="consultationFees">
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                              <label>Number Of Session</label>
                              <input type="number" class="form-control" placeholder="Session" formControlName="numberOfSession">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                </ng-template>
            </ngb-tab>

            <ngb-tab title="Services & Education">
                <ng-template ngbTabContent>
                    
                <div class="row" formArrayName="membership" 
                    [ngClass]="(getmembershipControls().length==0)? 'pb-3':''">
                    <div class="col-sm-12">
                        <span (click)="addMembership()"> <i class="feather-plus"></i> Membership</span>
                    </div>
                    <div class="col-sm-6"  *ngFor="let arrayItem of getmembershipControls(); let idrow=index" [formGroupName]="idrow">
                        <div class="input-group form-group">
                            <input class="form-control" type="text" [formControl]="arrayItem">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="feather-trash-2" (click)="removeMembership(idrow)"></i></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" formArrayName="education"
                    [ngClass]="(geteducationControls().length==0)? 'pb-3':''">
                    <div class="col-sm-12">
                        <span (click)="addEducation()"> <i class="feather-plus"></i> Education</span>
                    </div>
                    <div class="col-sm-6"  *ngFor="let arrayItem of geteducationControls(); let idrow=index" [formGroupName]="idrow">
                        <div class="input-group form-group">
                            <input class="form-control" type="text" [formControl]="arrayItem">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="feather-trash-2" (click)="removeEducation(idrow)"></i></span>
                            </div>
                        </div>
                    </div>
                </div>

            
                <div class="row" formArrayName="clinicServices"
                    [ngClass]="(getclinicServicesControls().length==0)? 'pb-3':''">
                    <div class="col-sm-12">
                        <span (click)="addClinicService()"> <i class="feather-plus"></i> Clinic Services</span>
                    </div>
                    <div class="col-sm-6"  *ngFor="let arrayItem of getclinicServicesControls(); let idrow=index" [formGroupName]="idrow">
                        <div class="input-group form-group">
                            <input class="form-control" type="text" [formControl]="arrayItem">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="feather-trash-2" (click)="removeClinicService(idrow)"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                </ng-template>
            </ngb-tab>

            <ngb-tab title="Timings">
                <ng-template ngbTabContent>
                    <div class="row" formArrayName="operationDays">
                        <label class="pl-3">Select your Working days and Timings</label>
                        <div class="col-sm-12 table-responsive">
                            <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Is Working</th>
                                    <th>Day</th>
                                    <th>Add</th>
                                    <th>Timings From</th>
                                    <th>Timings To</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let operatDay of getoperationDaysControls(); let idrow=index" [formGroup]="operatDay">
                                    <td>{{idrow+1}}</td>
                                    <td>
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="customswitch{{idrow}}" 
                                            (change)="toggleIsWorking(operatDay, operatDay.value.isActive)" formControlName="isActive">
                                            <label class="custom-control-label" for="customswitch{{idrow}}" >{{operatDay.value.isActive ? 'Yes' : 'No'}}</label>
                                        </div>
                                    </td>
                                    <td><span>{{operatDay.value.day}}</span></td>
                                    <td>
                                        <div *ngIf="operatDay.value.isActive" >
                                            <span (click)="addNewSession(operatDay.controls['timings'])"><i class="feather-plus"></i> Session </span>
                                        </div>
                                    </td>
                                    <td formArrayName="timings" >
                                        <div *ngIf="operatDay.value.isActive">
                                            <div class="row"*ngFor="let hrs of operatDay.controls['timings'].controls; let j = index" formGroupName="{{j}}">
                                                <input  type="number" formControlName="startHour" maxlength="2" class="col form-control" placeholder="HH" aria-label="Hours">:
                                                <input type="number" formControlName="startMinute" maxlength="2" class="col form-control" placeholder="MM" aria-label="Minutes">
                                            </div>
                                        </div>
                                    </td>
                                    <td formArrayName="timings">
                                        <div *ngIf="operatDay.value.isActive">
                                            <div class="row" *ngFor="let hrs of operatDay.controls['timings'].controls; let j = index" formGroupName="{{j}}">
                                                <input  type="number" formControlName="endHour" maxlength="2" class="col form-control" placeholder="HH" aria-label="Hours">:
                                                <input type="number" formControlName="endMinute" maxlength="2" class="col form-control" placeholder="MM" aria-label="Minutes">

                                                <span *ngIf="j!=0"><i class="feather-trash-2" (click)="removeSession(operatDay.controls['timings'], j)"></i></span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
  
      </form>
    </div>
    <div class="app-modal-footer buttonWrapper">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close(null)">Close</button>
      <button type="button" class="btn btn-primary" [disabled]="!addEditDocFb.valid" (click)="submit(addEditDocFb.value)" >Save changes</button>
    </div>
  </app-ui-modal>