<div class="row">
  <div class="col-xl-3 col-md-6">
    <app-card [hidHeader]="true" cardClass="ticket-card">
      <p class="m-b-25 badge-light-primary lbl-card"><i class="fas fa-users m-r-5"></i> Total Count</p>
      <div class="text-center">
        <h2 class="m-b-0 d-inline-block text-c-blue"> {{searchResultData.length}} </h2>
      </div>
    </app-card>
  </div>

  <div class="col-xl-3 col-md-6">
    <app-card [hidHeader]="true" cardClass="ticket-card">
      <p class="m-b-25 badge-light-success lbl-card"><i class="fas fa-users m-r-5"></i> Active</p>
      <div class="text-center">
        <h2 class="m-b-0 d-inline-block text-c-green"> -- </h2>
      </div>
    </app-card>
  </div>

  <div class="col-xl-3 col-md-6">
    <app-card [hidHeader]="true" cardClass="ticket-card">
      <p class="m-b-25 badge-light-danger lbl-card"><i class="fas fa-users m-r-5"></i> InActive</p>
      <div class="text-center">
        <h2 class="m-b-0 d-inline-block text-c-red"> -- </h2>
      </div>
    </app-card>
  </div>

  <!-- <div class="col-xl-3 col-md-6">
    <app-card [hidHeader]="true" cardClass="ticket-card">
      <p class="m-b-25 badge-light-warning lbl-card"><i class="feather plus m-r-5"></i> New</p>
      <div class="text-center">
        <h2 class="m-b-0 d-inline-block text-c-yellow"> --  </h2>
      </div>
    </app-card>
  </div> -->
</div>

<div class="row">
  <div class="col-sm-12">
    <app-card [options]="false" [customHeader]=true [isCardFooter]=showCardFooter()>
      <!-- <div class="app-card-header text-right">
        <button class="btn btn-outline-secondary" (click)="openModal()">Add</button>
      </div> -->

      <div class="table-responsive">
        <table class="table table-xs table table-styling table-striped ">
          <thead>
            <tr>
              <th>Action</th>
              <th>#</th>
              <th>Order ID</th>
              <th>Customer Name</th>
              <th>Email ID</th>
              <th>Country</th>
              <th>Phone Number</th>
              <th>Amount</th>
              <th>Order Status</th>
              <th>Order DT</th>
              <th>Payment DT</th>
              <th>Formurl</th>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of searchResultData; let i = index;">
              <td>
                <span class='feather-edit' (click)="edit(item)"></span>
              </td>
              <td>{{ i+1 }}</td>
              <td>{{item.name}}</td>
              <!-- <td><a target="_blank" href={{item.producturl}}>URL</a></td>
              <td><a target="_blank" href={{item.productimage}}>IMAGE</a></td> -->
              <td>{{item.customername}}</td>
              <td>{{item.customeremail}}</td>
              <td>{{item.customercountry}}</td>
              <td>{{item.customercountrycode}}-{{item.customerphone}}</td>
              <td>{{item.currency}} {{item.totalamount}}</td>
              <td>{{item.orderstatus}}</td>
              <td>{{item.orderdt | date: dateformatUI}}</td>
              <td>{{item.paymentdt | date: dateformatUI}}</td>
              <td>{{item.formurl}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="app-card-footer">
        <p class="text-center f-20 mb-0">No Orders are available.</p>
      </div>

    </app-card>
  </div>
</div>



<app-ui-modal #orderModal [containerClick]="false" [dialogClass]="'modal-lg'">
  <div class="app-modal-header">
    <h5 class="modal-title">Add|Edit orders</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
      (click)="orderModal.hide()"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="app-modal-body">
    <form class="" [formGroup]="addEditOrderFb" autocomplete="off" novalidate>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Order<span>*</span></label>
            <input disabled type="text" class="form-control" placeholder="Order" formControlName="name">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Customer Name<span>*</span></label>
            <input type="text" class="form-control" placeholder="Customer Name" formControlName="customername">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Email ID</label>
            <input type="text" class="form-control" placeholder="Email ID" formControlName="customeremail">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Currency</label>
            <input type="text" class="form-control" placeholder="Currency" formControlName="currency">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Amount</label>
            <input type="text" class="form-control" placeholder="Amount" formControlName="totalamount">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Country Code</label>
            <input type="text" class="form-control" placeholder="Country Code" formControlName="customercountrycode">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Phone Number</label>
            <input type="text" class="form-control" placeholder="Phone Number" formControlName="customerphone">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Order Status</label>
            <div>
              <label class="checkbox-inline"><input type="radio" value="CREATED" formControlName="orderstatus"> CREATED
              </label>&nbsp;
              <label class="checkbox-inline"><input type="radio" value="CANCELLED" formControlName="orderstatus">
                CANCELLED </label>&nbsp;
              <label class="checkbox-inline"><input type="radio" value="DISPUTED" formControlName="orderstatus">
                DISPUTED </label>&nbsp;
              <label class="checkbox-inline"><input type="radio" value="COMPLETED" formControlName="orderstatus">
                COMPLETED </label>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Order Date</label>
            <input disabled type="text" class="form-control" placeholder="Order Date" formControlName="orderdt">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Payment Date</label>
            <input type="text" class="form-control" placeholder="Payment Date" formControlName="paymentdt">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Source IP</label>
            <input disabled type="text" class="form-control" placeholder="Source IP" formControlName="sourceip">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Transaction ID</label>
            <input type="text" class="form-control" placeholder="Transaction ID" formControlName="transectionid">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Remarks</label>
            <input type="text" class="form-control" placeholder="Remarks" formControlName="remarks">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Address</label>
            <input type="text" class="form-control" placeholder="Address" formControlName="customeraddress">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Apt name</label>
            <input type="text" class="form-control" placeholder="Address" formControlName="patientname">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Apt Email</label>
            <input type="text" class="form-control" placeholder="Address" formControlName="patientemail">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Apt Zipcode</label>
            <input type="text" class="form-control" placeholder="Address" formControlName="patientzipcode">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Apt Country code</label>
            <input type="text" class="form-control" placeholder="Address" formControlName="patientcountrycode">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Apt Phone</label>
            <input type="text" class="form-control" placeholder="Address" formControlName="patientphone">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Apt Address</label>
            <input type="text" class="form-control" placeholder="Address" formControlName="patientaddress">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Apt Country</label>
            <input type="text" class="form-control" placeholder="Address" formControlName="patientcountry">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Apt Date</label>
            <input type="text" class="form-control" placeholder="Address" formControlName="patienttestDate">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>FormUrl</label>
            <input type="text" class="form-control" placeholder="formurl" formControlName="formurl">
          </div>
        </div>
          <!-- <div class="col-sm-6">
          <div class="form-group">
            <label></label>
            <div class="input-group">
              <input class="form-control" formControlName="patienttestDate" ngbDatepicker #aptdate="ngbDatepicker"
                >
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="aptdate.toggle()" type="button">
                  <span class="feather-calendar"></span>
                </button>
              </div>
            </div>
          </div>
        </div> -->
        

      </div>

      <!-- <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Start Date<span>*</span></label>
            <div class="input-group">
              <input class="form-control" formControlName="startDate" ngbDatepicker #d2="ngbDatepicker"
                [maxDate]=getMaxDate() [minDate]=getToday()>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button">
                  <span class="feather-calendar"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>End Date<span>*</span></label>
            <div class="input-group">
              <input class="form-control" formControlName="EndDate" ngbDatepicker #d3="ngbDatepicker"
                [minDate]=getMinDate()>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="d3.toggle()" type="button">
                  <span class="feather-calendar"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </form>
    <div *ngFor="let item of productData; let i = index;" class="border mt-3 p-3">
      <label><b>Product {{i + 1}}</b></label>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Product ID<span></span></label>
            <span class="form-control">{{item.productid}}</span>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Product Name<span></span></label>
            <span class="form-control">{{item.productname}}</span>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Product Currency<span></span></label>
            <span class="form-control">{{item.productcurrency}} {{item.productprice}}</span>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Product Image<span></span></label>
            <img src="{{item.productimage}}" class="img-thumbnail"/>
            <a class="form-control" target="_blank" [href]="item.productimage">{{item.productimage}}</a>
          </div>
        </div>


      </div>
    </div>
  </div>










  <div class="app-modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
    <button type="button" class="btn btn-primary" [disabled]="!addEditOrderFb.valid"
      (click)="submit(addEditOrderFb.value)">Save changes</button>
  </div>
</app-ui-modal>

<app-animation-modal #msgModal [modalMsg]="msg" (okClickEmit)="refreshnow($event)"></app-animation-modal>