
<div class="row">
  <div class="col-sm-12">
    <app-card [hidHeader]="false" cardTitle="Doctor Refferal Program Stats" >
      <div class="table-responsive" >
        <table class="table table-xs table table-styling table-striped ">
          <thead>
          <tr>
            <th>#</th>
            <th>Referred By Doctor</th>
            <th>Referred to Specialist</th>
            <th>Referal UniqueID</th>
            <th>Date Of Referral</th>
            <th>Patient Name <br/> NRIC/FIN/Passport No</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of docRefProgData; let i = index;"> 
            <td>{{ i+1 }}</td>
            <td>{{item.referredBy_Info?.name}}</td>
            <td>{{item.referredTo_Info?.name}}</td>
            <td>{{item.randomIdForSearch}}</td>
            <td>{{item.referralDate | date:dateformatUI:'EST'}}</td>
            <td>{{item.patientName}} 
                <div *ngIf="item.referralId !== 'undefined'"><small>{{item.referralId}} </small></div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="app-card-footer">
        <p class="text-center f-20 mb-0">No Doctor Refferal Available yet.</p>
      </div>


    </app-card>
  </div>
</div>

