<div class="row">
  <div class="col-xl-3 col-md-6">
    <app-card [hidHeader]="true" cardClass="ticket-card">
      <p class="m-b-25 badge-light-primary lbl-card"><i class="fas fa-users m-r-5"></i> Total Count</p>
      <div class="text-center">
        <h2 class="m-b-0 d-inline-block text-c-blue"> {{searchResultData.length}} </h2>
      </div>
    </app-card>
  </div>

  <div class="col-xl-3 col-md-6">
    <app-card [hidHeader]="true" cardClass="ticket-card">
      <p class="m-b-25 badge-light-success lbl-card"><i class="fas fa-users m-r-5"></i> Active</p>
      <div class="text-center">
        <h2 class="m-b-0 d-inline-block text-c-green"> -- </h2>
      </div>
    </app-card>
  </div>

  <div class="col-xl-3 col-md-6">
    <app-card [hidHeader]="true" cardClass="ticket-card">
      <p class="m-b-25 badge-light-danger lbl-card"><i class="fas fa-users m-r-5"></i> InActive</p>
      <div class="text-center">
        <h2 class="m-b-0 d-inline-block text-c-red"> -- </h2>
      </div>
    </app-card>
  </div>

  <!-- <div class="col-xl-3 col-md-6">
    <app-card [hidHeader]="true" cardClass="ticket-card">
      <p class="m-b-25 badge-light-warning lbl-card"><i class="feather plus m-r-5"></i> New</p>
      <div class="text-center">
        <h2 class="m-b-0 d-inline-block text-c-yellow"> --  </h2>
      </div>
    </app-card>
  </div> -->
</div>

<div class="row">
  <div class="col-sm-12">
    <app-card [options]="false" [customHeader]=true  [isCardFooter]=showCardFooter()>
      <div class="app-card-header text-right">
        <button class="btn btn-outline-secondary" (click)="openModal()">Add</button>
      </div>

      <div class="table-responsive" >
        <table class="table table-xs table table-styling table-striped ">
          <thead>
          <tr>
            <th>#</th>
            <th>Referal Code</th>
            <th>Company Name</th>
            <th>Country Code</th>
            <th>UsedBy</th>
            <th>Limit</th>
            <th>Start From</th>
            <th>Expiry On</th>
            <th>Coupon Value</th>
            <th>Coupon Type</th>
            <th>Module</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of searchResultData; let i = index;">
            <td>{{ i+1 }}</td>
            <td>{{item.referralCode}}</td>
            <td>{{item.companyName}}</td>
            <td>{{item.countryCode}}</td>
            <td>{{item.referralUsed}}</td>
            <td>{{item.limit == null ? 'NA' : item.limit}}</td>
            <td>{{item.startDate | date: dateformatUI}}</td>
            <td>{{item.EndDate | date:dateformatUI:'EST'}}</td>
            <td>{{item.couponValue}}</td>
            <td>{{item.valueType}}</td>
            <td>{{item.module}}</td>
            <td>
              <div *ngIf="item.isActive">
                <span class='feather-edit' (click)="edit(item)"></span>
                <span class='feather-delete' (click)="delete(item._id)"></span>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="app-card-footer">
        <p class="text-center f-20 mb-0">No Referal Codes are available.</p>
      </div>

    </app-card>
  </div>
</div>



<app-ui-modal #referalModal [containerClick]="false" [dialogClass]="'modal-lg'">
  <div class="app-modal-header">
    <h5 class="modal-title">Add|Edit Referal Code</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="referalModal.hide()"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="app-modal-body">
    <form class="" [formGroup]="addEditReferalFb" autocomplete="off" novalidate>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Referal Code<span>*</span></label>
            <input type="text" class="form-control" placeholder="Referal Code" formControlName="referralCode">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Company Name<span>*</span></label>
            <input type="text" class="form-control" placeholder="Company Name" formControlName="companyName">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Coupon Value</label>
            <input type="text" class="form-control" placeholder="Coupon Value" formControlName="couponValue">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>Country Code </label>
            <div>
              <label class="checkbox-inline pr-2"><input type="radio" value ="91" formControlName="countryCode">+91(IN)</label>
              <label class="checkbox-inline  pr-2"><input type="radio" value ="65" formControlName="countryCode">+65(SG)</label>
              <label class="checkbox-inline  pr-2"><input type="radio" value ="60" formControlName="countryCode">+60(MY)</label>
              <label class="checkbox-inline  pr-2"><input type="radio" value ="62" formControlName="countryCode">+62(IDD)</label>
              <label class="checkbox-inline  pr-2"><input type="radio" value ="852" formControlName="countryCode">+852(HK)</label>
              <label class="checkbox-inline  pr-2"><input type="radio" value ="66" formControlName="countryCode">+66(TH)</label>
              <label class="checkbox-inline  pr-2"><input type="radio" value ="63" formControlName="countryCode">+63(PH)</label>
              <label class="checkbox-inline  pr-2"><input type="radio" value ="84" formControlName="countryCode">+84(VN)</label>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>Coupon Type </label>
            <div>
              <label class="checkbox-inline"><input type="radio" value ="PERCENT" formControlName="valueType">Percent(%)</label>
              <label class="checkbox-inline"><input type="radio" value ="PRICE" formControlName="valueType">Amount</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Referal Code Use Limit</label>
            <input type="text" class="form-control" placeholder="Limit" formControlName="limit">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Module</label>
            <input type="text" class="form-control" placeholder="Module" formControlName="module">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Start Date<span>*</span></label>
            <div class="input-group">
              <input class="form-control" formControlName="startDate" ngbDatepicker #d2="ngbDatepicker"
              [maxDate]=getMaxDate() [minDate]=getToday()>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button">
                  <span class="feather-calendar"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>End Date<span>*</span></label>
            <div class="input-group">
              <input class="form-control" formControlName="EndDate" ngbDatepicker #d3="ngbDatepicker"
              [minDate]=getMinDate()>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="d3.toggle()" type="button">
                  <span class="feather-calendar"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
    <button type="button" class="btn btn-primary" [disabled]="!addEditReferalFb.valid" (click)="submit(addEditReferalFb.value)" >Save changes</button>
  </div>
</app-ui-modal>

<app-animation-modal #msgModal  [modalMsg]="msg" (okClickEmit)="refreshnow($event)"></app-animation-modal>
