<ul class="navbar-nav ml-auto">
  <li>
    <div class="dropdown drp-user" ngbDropdown placement="auto">
      <a href="javascript:" ngbDropdownToggle data-toggle="dropdown">
        <i class="icon feather-user"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right profile-notification" ngbDropdownMenu>
        <div class="pro-head">
          <img src="assets/images/user/avatar-1.jpg" class="img-radius" alt="User-Profile-Image">
          <span>SsivixLab Admin</span>
          <a href="javascript:"  (click)="confirmSignOut()" class="dud-logout" title="Logout">
            <i class="feather-log-out"></i>
          </a>
        </div>
        <ul class="pro-body">
          <li><a href="javascript:" class="dropdown-item"><i class="feather-user"></i> Profile</a></li>
        </ul>
      </div>
    </div>
  </li>
</ul>
<app-ui-modal #signOutModal [containerClick]="false" [hideHeader]=true [dialogClass]="'modal-sm'"> 
  <div class="app-modal-body">
    Are You Sure want to SignOut?
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal" (click)="close()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="close(true)">Continue</button>
  </div>

</app-ui-modal>
