<div class="row">
    <div class="col-sm-12">
      <app-card cardTitle="" [options]="false">
        <app-alert type="success" dismiss="true" *ngIf="show">File Uploaded successfully.</app-alert>
  
        <p>Choose a file (format .xls)</p>
        <form  [formGroup]="blogUploadFb" autocomplete="off" novalidate>
  
          <div class="row">
            <div class="col-sm-10">
              <div class="custom-file">
                <input type="file" accept='text/xml' class="custom-file-input" (change)=openFile($event.target.files) formControlName="fileData">
                <label class="custom-file-label" for="validatedCustomFile">
                  <ng-container *ngIf="inputFile; else elseTemplate">
                    {{inputFile}}
                  </ng-container>
                  <ng-template #elseTemplate>
                    Choose file...
                  </ng-template>
                </label>
                <!-- <div class="invalid-feedback">Example invalid custom file feedback</div> -->
              </div>
            </div>
            <div class="col-sm-2 text-right">
              <button  class="btn btn-primary" 
              (click)="submit()" [disabled]="!blogUploadFb.valid" >Upload</button>
            </div>
          </div>
  
        </form>
      </app-card>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-12">
      <app-card [hidHeader]="false" cardTitle="Blog List" >
        <div class="table-responsive" >
          <table class="table table-xs table table-styling table-striped ">
            <thead>
            <tr>
              <th>#</th>
              <th>Image</th>
              <th>Blog Title</th>
              <th>Blog Topic</th>
              <th>Blog Link URL</th>
              <th>Number of View</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of blogListData; let i = index;"> 
              <td class="pr-0">{{ i+1 }}</td>
              <td><img src="{{item.image}}" alt="" width="150"/></td>
              <td>{{item.title}}</td>
              <td>{{item.topic}}</td>
              <td>{{item.url}}</td>
              <td>{{item.numOfViews}}</td>
            </tr>
            </tbody>
          </table>
        </div>
  
        <div class="app-card-footer">
          <p class="text-center f-20 mb-0">No Blog Available yet.</p>
        </div>
  
  
      </app-card>
    </div>
  </div>
  
  