<div class="row">
  <div class="col-xl-3 col-md-6">
    <app-card [hidHeader]="true" cardClass="ticket-card">
      <p class="m-b-25 badge-light-primary lbl-card"><i class="fas fa-users m-r-5"></i> Total Count</p>
      <div class="text-center">
        <h2 class="m-b-0 d-inline-block text-c-blue"> {{searchResultData.length}} </h2>
      </div>
    </app-card>
  </div>

  <div class="col-xl-3 col-md-6">
    <app-card [hidHeader]="true" cardClass="ticket-card">
      <p class="m-b-25 badge-light-success lbl-card"><i class="fas fa-users m-r-5"></i> Active</p>
      <div class="text-center">
        <h2 class="m-b-0 d-inline-block text-c-green"> -- </h2>
      </div>
    </app-card>
  </div>

  <div class="col-xl-3 col-md-6">
    <app-card [hidHeader]="true" cardClass="ticket-card">
      <p class="m-b-25 badge-light-danger lbl-card"><i class="fas fa-users m-r-5"></i> InActive</p>
      <div class="text-center">
        <h2 class="m-b-0 d-inline-block text-c-red"> -- </h2>
      </div>
    </app-card>
  </div>

  <!-- <div class="col-xl-3 col-md-6">
    <app-card [hidHeader]="true" cardClass="ticket-card">
      <p class="m-b-25 badge-light-warning lbl-card"><i class="feather plus m-r-5"></i> New</p>
      <div class="text-center">
        <h2 class="m-b-0 d-inline-block text-c-yellow"> --  </h2>
      </div>
    </app-card>
  </div> -->
</div>

<div class="row">
  <div class="col-sm-12">
    <app-card [options]="false" [customHeader]=true [isCardFooter]=showCardFooter()>
      <div class="app-card-header text-right">
        <button class="btn btn-outline-secondary" (click)="openModal()">Add</button>
      </div>

      <div class="table-responsive">
        <table class="table table-xs table table-styling table-striped ">
          <thead>
            <tr>
              <th>#</th>
              <th>Product Name</th>
              <th>Product URL</th>
              <th>Image</th>
              <th>Type</th>
              <th>Currency</th>
              <th>Price</th>
              <th>Created DT</th>
              <th>Country</th>
              <th>SKU</th>
              <th>Vendor</th>
              <th>Tag</th>
              <th>Available</th>
              <th>Formurl</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of searchResultData; let i = index;">
              <td>{{ i+1 }}</td>
              <td>{{item.productname}}</td>
              <td><a target="_blank" href={{item.producturl}}>URL</a></td>
              <td><a target="_blank" href={{item.productimage}}>IMAGE</a></td>
              <td>{{item.producttype}}</td>
              <td>{{item.currency}}</td>
              <td>{{item.price}}</td>
              <td>{{item.onbardingon | date: dateformatUI}}</td>
              <td>{{item.country}}</td>
              <td>{{item.sku}}</td>
              <td>{{item.vendor}}</td>
              <td>{{item.tag}}</td>
              <td>{{item.productavailablity ? "Y" : "N"}}</td>
              <td>{{item.formurl}}</td>
              <td>
                <!-- <div *ngIf="item.isActive"> -->
                <span class='feather-edit' (click)="edit(item)"></span>
                <!-- <span class='feather-delete' (click)="delete(item._id)"></span> -->
                <!-- </div> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="app-card-footer">
        <p class="text-center f-20 mb-0">No Referal Codes are available.</p>
      </div>

    </app-card>
  </div>
</div>



<app-ui-modal #offeredServicesModal [containerClick]="false" [dialogClass]="'modal-lg'">
  <div class="app-modal-header">
    <h5 class="modal-title">Add|Edit product/Service Offered</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
      (click)="offeredServicesModal.hide()"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="app-modal-body">
    <form class="" [formGroup]="addEditOfferedServicesFb" autocomplete="off" novalidate>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Product Name<span>*</span></label>
            <input type="text" class="form-control" placeholder="Product Name" formControlName="productname">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Product URL<span>*</span></label>
            <input type="text" class="form-control" placeholder="Product URL" formControlName="producturl">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Image URL</label>
            <input type="text" class="form-control" placeholder="Image URL" formControlName="productimage">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Country</label>
            <input type="text" class="form-control" placeholder="Country" formControlName="country">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Currency</label>
            <input type="text" class="form-control" placeholder="Currency" formControlName="currency">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Price</label>
            <input type="text" class="form-control" placeholder="Price" formControlName="price">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Product Type </label>
            <div>
              <label class="checkbox-inline"><input type="radio" value="PRODUCT"
                  formControlName="producttype"> PRODUCT </label>&nbsp;
              <label class="checkbox-inline"><input type="radio" value="SERVICE"
                  formControlName="producttype"> SERVICE </label>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Availability</label>
            <div>
              <select class="form-control" formControlName="productavailablity">
                <option [value]="true">Yes</option>
                <option [value]="false">No</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>SKU</label>
            <input type="text" class="form-control" placeholder="SKU" formControlName="sku">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Vendor</label>
            <input type="text" class="form-control" placeholder="Vendor" formControlName="vendor">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Tag</label>
            <input type="text" class="form-control" placeholder="Tag" formControlName="tag">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Appointment</label>
            <select class="form-control" formControlName="appointment">
              <option [value]="true">True</option>
              <option [value]="false">False</option>
            </select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Order</label>
            <input type="text" class="form-control" placeholder="Order" formControlName="order">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Description</label>
            <textarea aria-multiline="true" rows="5" class="form-control" placeholder="Description" formControlName="productdescription"></textarea>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Formurl</label>
            <input type="text" class="form-control" placeholder="formurl" formControlName="formurl">
          </div>
        </div>
      </div>

      <!-- <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Start Date<span>*</span></label>
            <div class="input-group">
              <input class="form-control" formControlName="startDate" ngbDatepicker #d2="ngbDatepicker"
                [maxDate]=getMaxDate() [minDate]=getToday()>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button">
                  <span class="feather-calendar"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>End Date<span>*</span></label>
            <div class="input-group">
              <input class="form-control" formControlName="EndDate" ngbDatepicker #d3="ngbDatepicker"
                [minDate]=getMinDate()>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="d3.toggle()" type="button">
                  <span class="feather-calendar"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </form>
  </div>










  <div class="app-modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
    <button type="button" class="btn btn-primary" [disabled]="!addEditOfferedServicesFb.valid"
      (click)="submit(addEditOfferedServicesFb.value)">Save changes</button>
  </div>
</app-ui-modal>

<app-animation-modal #msgModal [modalMsg]="msg" (okClickEmit)="refreshnow($event)"></app-animation-modal>