<div class="row">
  <div class="col-sm-12">
    <app-card [hidHeader]="false" cardTitle="Create & Send Pay Link">
      <app-alert type="success" dismiss="true" *ngIf="apisuccesss">Email is Send successfully</app-alert>

      <form class="" [formGroup]="createQuickPayFb" autocomplete="off" novalidate>
        <div class="row">
          <div class="col-sm-8">
            <div class="form-group">
              <label>Payment For<span>*</span></label>
              <input type="text" class="form-control" placeholder="Pay for" formControlName="paymentDescription">
              <p class='invalid-feedback d-block'>{{getError('paymentDescription')}}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label>Email Id<span>*</span></label>
              <input type="text" class="form-control" placeholder="Email Id" formControlName="emailId">
              <p class='invalid-feedback d-block'>{{getError('emailId')}}</p>
            </div>
          </div>
          <div class="col-sm-4">
            <label>Phone Number<span>*</span></label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">{{countryCodePreFix}}</span>
              </div>
              <input type="text" class="form-control" placeholder="Phone number" formControlName="mobileNumber" appNumberOnly>
              <p class='invalid-feedback d-block'>{{getError('mobileNumber')}}</p>
            </div>
          </div>

          <div class="col-sm-4">
            <label>Amount To Pay<span>*</span></label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">{{amoutPreFix}}</span>
              </div>
              <input type="text" class="form-control" appNumberOnly placeholder="Amount" formControlName="amount">
              <p class='invalid-feedback d-block'>{{getError('amount')}}</p>
            </div>
          </div>
        </div>
        <div class="">
          <button type="button" class="btn btn-primary" [disabled]="!createQuickPayFb.valid" (click)="submit(createQuickPayFb.value)" >Send</button>
        </div>
        </form>
    </app-card>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <app-card [hidHeader]="true" >
      <div class="table-responsive" >
        <table class="table table-xs table table-styling table-striped ">
          <thead>
          <tr>
            <th>#</th>
            <th>Email Id</th>
            <th>Phone Number</th>
            <th>Amount</th>
            <th>Date Of Creation</th>
            <th>Payment For</th>
            <th>Payment Status</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of searchResultData; let i = index;"> 
            <td>{{ i+1 }}</td>
            <td>{{item.emailId}}</td>
            <td>{{item.countryCode}}-{{item.mobileNumber}}</td>
            <td>{{amoutPreFix}} {{item.amount}}</td>
            <td>{{item.requestedTime | date:dateformatUI:'EST'}}</td>
            <td>{{item.paymentDescription}}</td>
            <td>{{item.transactionStatus}}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="app-card-footer">
        <p class="text-center f-20 mb-0">No Quick Pay links sent.</p>
      </div>


    </app-card>
  </div>
</div>

