<div class="auth-wrapper">
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center">
        <div class="col-md-12">
         
          <form  [formGroup]="adminSignInFb" autocomplete="off" novalidate>
          <div class="card-body">
            <img src="assets/images/logo-dark.png" alt="" class="img-fluid mb-4">
            <h4 class="mb-3 f-w-400 text-center">Signin</h4>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="feather-mail"></i></span>
              </div>
              <input type="email" class="form-control" placeholder="Email address" formControlName="email"
              [ngClass]="{'is-invalid': displayMessage.email }" >
              <span class="invalid-feedback">
                {{displayMessage.email}}
              </span>
            </div>
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="feather-lock"></i></span>
              </div>
              <input type="password" class="form-control" placeholder="Password" formControlName="password"
              [ngClass]="{'is-invalid': displayMessage.password }">
              <span class="invalid-feedback">
                {{displayMessage.password}}
              </span>
            </div>
            <!-- <div class="form-group text-left mt-2">
              <div class="checkbox checkbox-primary d-inline">
                <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="">
                <label for="checkbox-fill-a1" class="cr"> Save credentials</label>
              </div>
            </div> -->
            <button class="btn btn-block btn-primary mb-4" (click)="signin(adminSignInFb.value)"  [disabled]="!adminSignInFb.valid">SignIn</button>
            <span *ngIf="errorMsg" class='alert-danger'>{{errorMsg}}</span>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>
