
<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="" [options]="false">
      <app-alert type="success" dismiss="true" *ngIf="show">File Uploaded successfully.</app-alert>

      <p>Choose a file (format .xls)</p>
      <form  [formGroup]="bulkUploadFb" autocomplete="off" novalidate>

        <div class="row">
          <div class="col-sm-10">
            <div class="custom-file">
              <input type="file" accept='text/xml' class="custom-file-input" (change)=openFile($event.target.files) formControlName="fileData">
              <label class="custom-file-label" for="validatedCustomFile">
                <ng-container *ngIf="inputFile; else elseTemplate">
                  {{inputFile}}
                </ng-container>
                <ng-template #elseTemplate>
                  Choose file...
                </ng-template>
              </label>
              <!-- <div class="invalid-feedback">Example invalid custom file feedback</div> -->
            </div>
          </div>
          <div class="col-sm-2 text-right">
            <button  class="btn btn-primary" 
            (click)="submit(bulkUploadFb.value)" [disabled]="!bulkUploadFb.valid" >Upload</button>
          </div>
        </div>

      </form>
    </app-card>
  </div>
</div>
