

<app-ui-modal #msgModal [containerClick]="false"
  [hideHeader]=true [hideFooter]=true [dialogClass]="'success modal-sm'">
  <div class="app-modal-body">
    <h3 class="text-success">Success</h3>
    <p [innerHTML]="modalMsg"></p>
    <div class="text-center">
      <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" 
      (click)="closeAndRefresh()">Close</button>
    </div>
  </div>
</app-ui-modal> 
